.nav-item-dropdown .navbar-dropdown.dropdown-user {
  margin-left: -200px;
  width: 240px !important;
  padding-bottom: 20px;
  background: white !important; }
  .nav-item-dropdown .navbar-dropdown.dropdown-user .dropdown-item {
    width: 240px;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.85rem; }
    .nav-item-dropdown .navbar-dropdown.dropdown-user .dropdown-item i {
      font-size: 1rem;
      width: 24px;
      margin-right: 10px; }
    .nav-item-dropdown .navbar-dropdown.dropdown-user .dropdown-item .title {
      flex: 1; }

.picture-container {
  position: relative;
  cursor: pointer;
  text-align: center; }

.picture {
  width: 106px;
  height: 106px;
  background-color: #999999;
  border: 1px solid  #E3E3E3;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 5px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s; }
  .picture:hover {
    border-color: #2ca8ff; }

.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%; }

.picture-src {
  width: 100%; }
