@import "variables";
@import "mixins";
@import "bootstrap/bootstrap";
@import "helpers";
@import "palettes/background";
@import "layouts/default-sidebar-1";
@import "layouts/collapsed-sidebar-1";
@import "layouts/top-navigation-1";
@import "layouts/empty-view-1";
@import "layouts/home";
@import "react-table";

body,
html,
#root {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: $font-family;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  @include font-size(14px);
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

@each $key, $value in $background-palettes {
  html,
  body,
  #root {
    background-color: map-get($value, "background-color");
    color: map-get($value, "color");
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
@each $key, $value in $default-palette {
  [data-navbar="#{$key}"],
  [data-sidebar="#{$key}"],
  [data-background="#{$key}"] {
    a,
    .btn {
      color: map-get($value, "color");
    }
  }
}
input,
select {
  font-family: $font-family;
}
//@include selection {
//  background-color: map-get($bootstrap-colors, "warning");
//}
.hidden {
  display: none;
}
//hide pseudo elements
.no-before {
  &:before {
    display: none !important;
  }
}
.no-after {
  &:after {
    display: none !important;
  }
}
.loading {
  .pace {
    display: none;
  }
}
.separator {
  flex: 1;
}
//backdrops
.left-sidebar-backdrop {
  @include backdrop($zindex-navbar-fixed + 5);
}
.right-sidebar-backdrop {
  @include backdrop($zindex-navbar-fixed + 4);
}

.no-bg,
.bg-transparent {
  background-color: transparent !important;
}
$colors: map-merge(
  map-merge(map-merge($colors, $bootstrap-colors), $social-media-colors),
  $background-colors
);
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value !important;
  }
  .bg-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      background-color: $value !important;
    }
  }
  .color-#{$key} {
    color: $value !important;
  }
  .color-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      color: $value !important;
    }
  }
  .border-color-#{$key} {
    color: $value !important;
  }
  .border-color-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      color: $value !important;
    }
  }
}

.react-select {
  .react-select__menu{
    top: 105%;
    max-width: 94%;
    width: 94%;
    right: 3%;
    border-radius: 12px;
    border: 0;
    box-shadow: 1px 2px 7px 1px rgba(0,0,0,.125);
    transition: all .3s cubic-bezier(.215,.61,.355,1) 0s,opacity .3s ease 0s,height 0s linear .35s;
    background-color: $white-bg;
    box-sizing: border-box;
    max-height: 200px;
    position: absolute;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    margin-bottom: unset;
    margin-top: unset;
    &:before{
      border-bottom: 11px solid #f1eae0;
      top: -11px;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 15px;
    }

    &:after{
      top: -10px;
      border-bottom: 11px solid #fffcf5;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 15px;


    }
  }
  .react-select__menu-list {
    max-height: 198px;
    overflow-y: auto;
    padding-bottom: unset;
    padding-top: unset;
    position: relative;
  }
  .react-select__option {
    font-size: 0.8571em;
    padding-top: .6rem;
    padding-bottom: .6rem;
    margin-top: 5px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: block;
    outline: none;
    color: #292b2c;
  }
  .react-select__menu{
    .react-select__option{
      &,&:active{
        background-color: transparent;
      }
      &.react-select__option--is-selected{
        &,&.react-select__option--is-focused{
          &,&:active{
            background-color: $medium-gray;
          }
        }
      }
      &.react-select__option--is-focused {
        &,&:active{
          background-color: $smoke-bg;
        }
      }
      &.react-select__option--is-disabled {
        &,&:active{
          color: #cccccc;
          cursor: default;
        }
      }
    }
  }
  .react-select__control{
    border-radius: 4px;
    min-height: 40px;
    height: 40px;
    box-sizing: border-box;
    border-collapse: separate;
    display: table;
    width: 100%;
    &,&:hover{
      border: 1px solid $light-gray;
      box-shadow: none;
      background-color: transparent;
    }
    &.react-select__control--is-focused{
      .react-select__dropdown-indicator{
        &:after{
          transform: rotate(180deg);
          top: -4px;
        }
      }
      &,&:hover{
        border: 1px solid $primary-color;
        box-shadow: none;
      }
    }
    .react-select__value-container--has-value{
      .react-select__multi-value{
        display: inline-flex;
        border-radius: 4px;
        background-color: transparent;
        & + div:not(.react-select__multi-value){
          display: inline-flex;
        }
        .react-select__multi-value__label{
          font-size: 0.9em;
        }
      }
      .react-select__single-value{
        top: 48%;
        color: $black-color;
      }
    }
    .react-select__placeholder{
      color: $dark-gray;
      line-height: normal;
      font-size: 0.8571em;
      top: 48%;
    }
    .react-select__value-container,
    .react-select__indicators{
      display: table-cell;
    }
    .react-select__indicators {
      width: 60px;
      padding-right: 10px;
      align-items: flex-end;
      vertical-align: middle;
      text-align: right;
      .react-select__indicator-separator{
        display: none;
      }
      .react-select__indicator {
        padding: 0;
        display: inline-block;
      }
      .react-select__dropdown-indicator{
        &:after{
          transition: all 150ms ease 0s;
          border-color: #999 transparent transparent;
          border-style: solid;
          border-width: 5px 5px 2.5px;
          display: inline-block;
          height: 0;
          width: 0;
          position: relative;
          content: "";
        }
        &:hover:after{
          border-top-color: $link-disabled-color;
        }
        & > * {
          display: none;
        }
      }
      .react-select__clear-indicator{
        &:before{
          content: "\D7";
          display: inline-block;
          font-size: 18px;
          line-height: 1;
          top: 2px;
          position: relative;
          margin-right: 3px;
        }
        & > * {
          display: none;
        }
      }
    }
  }
  &.primary{
    .react-select__control{
      &.react-select__control--is-focused{
        &,&:hover{
          border-color: $primary-color;
        }
      }
      .react-select__value-container--has-value{
        .react-select__single-value,
        .react-select__multi-value__label{
          color: $primary-color;
        }
      }
    }
    .react-select__multi-value{
      border: 1px solid $primary-color;
      .react-select__multi-value__remove{
        color: $primary-color-opacity;
        border-left: 1px solid $primary-color-opacity;
        &:hover{
          color: $primary-color;
          background-color: transparent;
        }
      }
    }
  }
  &.success{
    .react-select__control{
      &.react-select__control--is-focused{
        &,&:hover{
          border-color: $success-color;
        }
      }
      .react-select__value-container--has-value{
        .react-select__single-value,
        .react-select__multi-value__label{
          color: $success-color;
        }
      }
    }
    .react-select__multi-value{
      border: 1px solid $success-color;
      .react-select__multi-value__remove{
        color: $success-color-opacity;
        border-left: 1px solid $success-color-opacity;
        &:hover{
          color: $success-color;
          background-color: transparent;
        }
      }
    }
  }
  &.info{
    .react-select__control{
      &.react-select__control--is-focused{
        &,&:hover{
          border-color: $info-color;
        }
      }
      .react-select__value-container--has-value{
        .react-select__single-value,
        .react-select__multi-value__label{
          color: $info-color;
        }
      }
    }
    .react-select__multi-value{
      border: 1px solid $info-color;
      .react-select__multi-value__remove{
        color: $info-color-opacity;
        border-left: 1px solid $info-color-opacity;
        &:hover{
          color: $info-color;
          background-color: transparent;
        }
      }
    }
  }
  &.warning{
    .react-select__control{
      &.react-select__control--is-focused{
        &,&:hover{
          border-color: $warning-color;
        }
      }
      .react-select__value-container--has-value{
        .react-select__single-value,
        .react-select__multi-value__label{
          color: $warning-color;
        }
      }
    }
    .react-select__multi-value{
      border: 1px solid $warning-color;
      .react-select__multi-value__remove{
        color: $warning-color-opacity;
        border-left: 1px solid $warning-color-opacity;
        &:hover{
          color: $warning-color;
          background-color: transparent;
        }
      }
    }
  }
  &.danger{
    .react-select__control{
      &.react-select__control--is-focused{
        &,&:hover{
          border-color: $danger-color;
        }
      }
      .react-select__value-container--has-value{
        .react-select__single-value,
        .react-select__multi-value__label{
          color: $danger-color;
        }
      }
    }
    .react-select__multi-value{
      border: 1px solid $danger-color;
      .react-select__multi-value__remove{
        color: $danger-color-opacity;
        border-left: 1px solid $danger-color-opacity;
        &:hover{
          color: $danger-color;
          background-color: transparent;
        }
      }
    }
  }
  .react-select__multi-value{
    border: 1px solid $dark-gray;
    .react-select__multi-value__remove{
      position: relative;
      color: $opacity-gray-8;
      border-left: 1px solid $opacity-gray-8;
      &:hover{
        color: $dark-gray;
        background-color: transparent;
      }
    }
  }
  &.react-select--is-disabled{
    .react-select__multi-value--is-disabled{
      .react-select__multi-value__remove {
        display: none;
      }
      &.react-select__multi-value{
        background-color: #fcfcfc;
        border: 1px solid #e3e3e3;
      }
    }
    .react-select__control--is-disabled{
      background-color: #f9f9f9;
    }
  }
}

.horizontal-scroll {
  overflow-x: auto !important;
}

.button-close {
  margin-right: 10px;
}

.btn-gtc {
  border-radius: 3px;
  font-size: 13px !important;
  font-weight: bold !important;
} 

.header-table {
  font-size: 14px !important;
  font-weight: bold !important;
}

.btn-carta-porte {
  margin-top: 25px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-icon{
  margin-right: 5px;
}

.modal-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px !important;
}

.modal-content {
  border-radius: 10px;
}

.modal-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.form-control {
  border-radius: 3px;
}

.form-check-input {
  width: 18px;
  height: 18px;
  line-height: 26px !important;
}

.form-check-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 26px !important;
}

.close {
  margin-top: 15px;
}

.menu-sidebar-gtc{
  font-weight: bold !important;
}

.gtc-title {
  font-size: 16px !important;
}

.accordion-button{
  font-size: 20px !important;
}

.accordion-button:focus {
  border-color: #383838 !important;
  box-shadow: black !important;
}

.accordion-button:not(collapsed){
  color: #383838 !important;
  background-color: #f2f2f3 !important;
}

.btn-filter{
  width: 100% !important;
}

.btn-filter-gp{
  margin-top: 32px !important;
  width: 100% !important;
}

.company-message {
  padding: 7px !important;
  border-radius: 3px;
  margin: 5px !important;
}

.login-page{
  .content .container {
    margin-top: 8vh;
  }

    .card-login{
        border-radius: $border-radius-large;
        padding-bottom: $padding-base-horizontal;

        .btn-wd{
            min-width: 180px;
        }

        .logo-container{
            width: 65px;
            margin: 0 auto;
            margin-bottom: 55px;

            img{
                width: 100%;
            }
        }

        .input-group:last-child{
            margin-bottom: 40px;
        }

        &.card-plain{
            

            .input-group-addon,
            .form-group.no-border .input-group-addon,
            .input-group.no-border .input-group-addon{
                color: $opacity-8;
            }
        }
    }

    .link{
        font-size: 10px;
        color: $white-color;
        text-decoration: none;
    }
}

.full-page{
    & > .content,
    & > .footer{
        position: relative;
        z-index: 4;
    }

    &.section-image{
        position: initial;
    }

    & > .content{
        padding-top: 21vh;
    }

    .footer{
        position: absolute;
        width: 100%;
        bottom: 0;

        .container{
            color: $white-color;
        }
    }

    .full-page-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }

    &:after{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
    }


    &.pricing-page{
        .description{
            margin-bottom: 65px;
        }
    }

    &.register-page{
        .content > .container {
          margin-top: 5vh;
        }
        .info-horizontal{
            padding: 0px 0px 20px;
        }

        .info-horizontal{
            text-align: left !important;

            .icon{
                margin-top: 0;

                >i{
                    font-size: 2em;
                }

                &.icon-circle{
                    width: 65px;
                    height: 65px;
                    max-width: 65px;
                    margin-top: 8px;

                    i{
                        display: table;
                        margin: 0 auto;
                        line-height: 3.5;
                        font-size: 1.9em;
                    }
                }
            }
            .description{
                overflow: hidden;
            }

        }
    }

    &.lock-page {
      .content > .container {
        margin-top: 10vh;
      }
    }
}

.register-page,
.login-page,
.lock-page {
  .navbar {
    .navbar-collapse {
      .nav-item .nav-link {
        text-transform: capitalize;
        color: $white-color !important;
      }
    }

    &.navbar-transparent {
      border-bottom: 1px solid transparent;
      margin-top: 25px;
    }

    .navbar-brand {
      color: $white-color !important;
    }
  }
}

.tree-rows{
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
}

.tree-cols{
  font-size: 15px;
  padding: 5px;
}

.tree-rows-content-first{
  padding: 5px;
  background-color: #cdcdcd;
  text-align: center;
  align-items: center;
}
.tree-rows-content-late{
  margin-top: 20px;
  padding: 5px;
  background-color: #cdcdcd;
  text-align: center;
  align-items: center;
}

.tree-table-rows {
  margin-top: 20px;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
}

.tree-table-rows-content {
  background-color: #eeeeee;
  text-align: center;
  align-items: center;
}

.no-data{
  border-radius: 3px;
  padding: 10px;
  background-color: #eeeeee;
  text-align: center;
  align-items: center;
  font-weight: bold !important;
}

.login-page{
  background-color: red !important;
}

.change-password{
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 400px !important;
  min-width: 518px;
  max-width: 518px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  align-items: start;
}

.description-password {
  margin-bottom: 20px;
  font-size: 0.9375rem;
}

.title-password {
  font-size: 1.0625rem;
  margin-bottom: 10px;
}

.labels-password {
  margin-bottom: 15px;
}

.error-password{
  margin-top: 10px;
  font-size: 11px;
  color: red;
}

.full-page-background{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.login-backgroud {
  margin: 0; 
 
}

.logo-navbar {
  width: 55px;
}